#conteudo{
    display: flex;
    justify-content: space-between;
}

.cartao{

    color: #FFFF;
    
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem 1rem;
    font-size: 28px;
    text-align: center;

}
.cartao:hover .cartao--conteudo{
    background-color: #8160b5;
    transform: rotateY(180deg);
}
.cartao--resposta{
    font-size: 20px;
}
.cartao--conteudo{
    border-radius: 20px;
    background-color: #8365B5;
    height: 100%;
transform-style: preserve-3d;
transition: transform 300ms ease-in-out;
}

.cartao--pergunta, .cartao--resposta{
    backface-visibility: hidden;
}
.cartao--resposta{
    transform: rotateY(180deg);
}
.rodape{
    background-color: #8160b5;
    color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 25px;
    font-size: 14px;
    text-align: center;
}